<div id="flex-cols2">
    <div id="svg-container">
        <svg viewBox="0 0 720 350" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <image xlink:href="/images/lac.jpg" x="0" y="0" />
            <text x="100" y="50" fill="skyblue" text-decoration="underline">Hello world</text>
        </svg>
    </div>
    <div id="form-container">
        <form>
            <label for="titre">
                <h1>Titre</h1>
            </label>
            <br>
            <input name="titre" id="titre" value="React is easy">
            <hr>
            <label for="image">
                <h2>Image</h2>
            </label>
            <br>
            <select name="image" id="image">
                <option value="-1">pas d'image</option>
            </select>
            <hr>
            <label for="text">
                <h2>texte</h2>
            </label>
            <br>
            <input name="text" id="text" type="text" value="Le js m'a tué">
            <br>
            <label for="x">
                <h2 style="display: inline;">x :</h2>
            </label>
            <input class="small-number" name="x" id="x" type="number" value="121">
            <label for="y">
                <h2 style="display: inline;">y :</h2>
            </label>
            <input class="small-number" name="y" id="y" type="number" value="65">
            <hr>
            <br>
            <h2>Decorations</h2>
            <label for="color">
                <h2 style="display: inline;">color :</h2>
            </label>
            <input name="color" id="color" type="color" value="#FFFFFF">
            <br>
            <label for="fontSize">
                <h2 style="display: inline;">font-size :</h2>
            </label>
            <input class="small-number" name="fontSize" id="fontSize" type="number" min="0" value="73">px
            <br>
            <label for="fontWeight">
                <h2 style="display: inline;">font-weight :</h2>
            </label>
            <input class="small-number" name="fontWeight" id="fontWeight" type="number" min="100" step="100"
                max="900" value="900">
            <br>
            <input name="underine" id="underline" type="checkbox">&nbsp;<label for="underline">
                <h2 style="display: inline;">underline</h2>
            </label>&nbsp;<h2 style="display: inline;">/</h2>&nbsp;
            <label for="italic">
                <h2 style="display: inline;">italic</h2>
            </label>&nbsp;
            <input name="italic" id="italic" type="checkbox">
            <hr>
            <br>
            <label for="frameSizeX">
                <h2 style="display: inline;">frame size X :</h2>
            </label>
            <input class="small-number" name="frameSizeX" id="frameSizeX" type="number" min="0" value="0">px
            <label for="frameSizeY">
                <h2 style="display: inline;">frame size y :</h2>
            </label>
            <input class="small-number" name="frameSizeY" id="frameSizeY" type="number" min="0"
                value="0">px<br>

            <button type="reset" class="btn btn-warning">reset</button>

            <button type="submit" class="btn btn-primary">submit</button>


        </form>
    </div>
</div>