<style type="text/css">
  #liste-meme {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  #liste-meme > a  {
    height: 100%;
    
  }
  #liste-meme > a > div {
    height: 300px;
    max-width: 25vw;
  }
</style>
<div>
  <h3>Liste des memes</h3>
  <div id="liste-memes">
    <div id="meme-model">
      <a  href="/memes/">
        <svg
          viewBox="0 0 1000 1000"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <image xlink:href="" x="0" y="0"/>
          <text x="0" y="20" font-size="20" font-weight="500"></text>
        </svg>
      </a>
    </div>
  </div>
</div>
